github "dybs/LoopKit"  "pump-sim-timer-master"
github "dybs/CGMBLEKit" "pump-sim-timer-master"
github "i-schuetz/SwiftCharts" == 0.6.5
github "dybs/dexcom-share-client-swift" "pump-sim-timer-master"
github "dybs/G4ShareSpy" "pump-sim-timer-master"
github "dybs/rileylink_ios" "pump-sim-timer-master"
github "LoopKit/Amplitude-iOS" "decreepify"